.penguin-logo {
  width: 230px;
  height: 31px;
}

nav a:hover {
  background-color: #fdd835;
}

.penguin-bg {
  background-color: #fffde7;
}

.penguin-round {
  border-radius: 15px;
  border: 0;
}

.penguin-small-image {
  height: 100px;
  width: 100px;
}

.penguin-header-font {
  color: #f9a825;
  font-size: 5rem;
  font-weight: 1000;
}

.penguin-button {
  background-color: #9ccc65;
  border: 0;
  color: white;
  font-weight: 700;
}

button:hover {
  background-color: #fdd835;
}

.penguin-cart-color {
  color: white;
}

.penguin-money-color {
  color: #f9a825;
  font-weight: 700;
}

.penguin-text-color {
  color: #263238;
  font-weight: 700;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: #212121;
}

/* Scrollbar Customizations */

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9ccc65;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fdd835;
}
